server {
	listen {{ nginx_backend_port }};
	server_name koscinski.thejfk.ca;
	location / {
		proxy_set_header Host $http_host;
		proxy_pass http://koscinski-prod_backend;
	}
	include snippets/health-check.conf;
}
upstream koscinski-prod_backend {    
    server koscinski-prod.jfkhome;    
}
