
server {
	listen {{ nginx_backend_port }};
	server_name nas.thejfk.ca truenas.thejfk.ca freenas.thejfk.ca;
	location / {
		proxy_set_header Host $http_host;
		proxy_pass http://nas.jfkhome;
		proxy_http_version 1.1;
		proxy_set_header Connection $http_connection;
		proxy_set_header Origin http://$host;
		proxy_set_header Upgrade $http_upgrade;
		proxy_connect_timeout 3600s;
	}
	include snippets/health-check.conf;
}