server {
	listen {{ nginx_backend_port }};
	server_name nerdperk-dev.thejfk.ca;
	location / {
		proxy_set_header Host $http_host;
		proxy_pass http://nerdperk-dev_backend;
	}
	include snippets/health-check.conf;
}
upstream nerdperk-dev_backend {    
    server nerdperk-dev.jfkhome;   
}